<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gestion.matricula.mapper.CursoMapper">

	<resultMap id="listCurso" type="com.gestion.matricula.outputDto.CursoOutputDto">
		<result property="idCurso" column="id_curso" />
		<result property="nombre" column="nombre" />
		<result property="codCurso" column="cod_curso" />
		<result property="descripcion" column="descripcion" />
		<result property="horas" column="horas" />
		<result property="estado" column="estado" />
		<result property="fchCreacion" column="fch_creacion" />
		<result property="fchActualizacion" column="fch_actualizacion" />
	</resultMap>
	
	<select id="list" statementType="CALLABLE" parameterType="com.gestion.matricula.inputDto.CursoInputDto"
			resultMap="listCurso">
		{CALL sp_curso_list(
			#{idCurso, jdbcType = INTEGER, mode = IN}
		)
		}
	</select>
	
	<insert id="insert" statementType="CALLABLE" parameterType="com.gestion.matricula.inputDto.CursoInputDto">
		{CALL sp_curso_insert(
			#{nombre, jdbcType = VARCHAR, mode = IN},
			#{codCurso, jdbcType = VARCHAR, mode = IN},
			#{descripcion, jdbcType = VARCHAR, mode = IN},
			#{horas, jdbcType = VARCHAR, mode = IN},
			#{codError, jdbcType = INTEGER, mode = OUT},
			#{msgError, jdbcType = VARCHAR, mode = OUT}
		)
		}
	</insert>
	
	<update id="update" statementType="CALLABLE" parameterType="com.gestion.matricula.inputDto.CursoInputDto">
		{CALL sp_curso_update(
			#{idCurso, jdbcType = INTEGER, mode = IN},
			#{nombre, jdbcType = VARCHAR, mode = IN},
			#{codCurso, jdbcType = VARCHAR, mode = IN},
			#{descripcion, jdbcType = VARCHAR, mode = IN},
			#{horas, jdbcType = VARCHAR, mode = IN},
			#{codError, jdbcType = INTEGER, mode = OUT},
			#{msgError, jdbcType = VARCHAR, mode = OUT}
		)
		}
	</update>
	
</mapper>